
.headerMain {
    min-height: 50vh;
    width: 100%;
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.tile {
    min-height: 230px;
}

.about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footercl {
    padding-top: 30px;
    padding-bottom: 30px;
}

.request {
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-custom {
    padding: 10px;
    font-size: 20px;
}

.bttonclass {
    border-color: gray;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
    background-color: lightpink;
    border-radius: 25px;
    border-color: gray;
    padding: 10px;
    margin-right: 30px;
}

.btnreqdetails {
    margin-top: 40px;
    margin-bottom: 60px;
}

.requestdetails {
    text-align: left;
    margin-top: 150px;
}

.requestname, #location {
    color: lightcoral;
}

#detailtext {
    width: 60%;
}

div#hidden {
    margin-top: 50px;
}
