@model BeekindSolution.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Request Details</h1>

<hr />

<div class="requestdetails">
    <h1 class="display-4 mb-3">I am looking for</h1>

    <h2 class="requestname"><strong>@Model.Title</strong></h2>  
    <p id="location"><i class="bi bi-geo-alt-fill text-primary"></i> @Model.Location</p>
    <br />
    <p id="detailtext">@Model.Description</p>
    <button type="button" onclick="displayDetails()" id="accept" class="btnreqdetails">Offer to help</button>
    <a asp-action="Index.cshtml#listings" type="button" class="btnreqdetails">Back to the list</a>

    <div class="hidden" id="hiddendetails">
        <!-- contact details will be displayed only after the user offer to help -->
        <h2>Contact Details</h2>
        <p>021-1234567</p>
    </div>

    <script>
        function displayDetails(){
            var element = document.getElementById("hiddendetails");
            element.classList.toggle("show");
        }

    </script>

</div>


