@model IEnumerable<Request>


@{
    ViewData["Title"] = "Home Page";
}

<div class="headerMain">
</div>

<div class="about">
    <div class="text-center">
        <h3>BeeKind is a local community<br /> built around <span class="text-primary"><strong>kindness</strong></span>
            </h3>           
    </div>

    <div class="about">
    <div class="text-center">
        <form asp-action="Generator" asp-controller="Home" method="get">
        <input type="submit" value="Random Kindness Challenge" class="btn btn-lg btn-primary" />  
        </form>
    </div>

    <div class="request bg-primary text-white">
        <h3>Requests for Help</h3>

        

<div class="row pb-3 mb-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">

            @*make all card clickable*@
            <a asp-action="Details"  asp-route-id=@item.Id class="text-decoration-none">
            <div class="row p-3">
                <div class="col-12 p-1" style="border:1px solid #FFF; border-radius:5px;">
                    <div class="card tile">
                        <div class="card-body">
                            <div class="p-1">
                                <p class="card-title h3 text-primary">@item.Title</p>
                             
                                <p class="card-title test-secondary col-12 pr-2 text-primary"><i class="bi bi-geo-alt-fill text-primary"></i> @item.Location</p>
                            
                                <div class="row">
                            <p class="card-title test-secondary pl-2">@item.Description</p>
                            
                            </div>
                            </div>                           
                        </div>
                      
                    </div>
                </div>
            </div>
            </a>
        </div>

    }
</div>



    </div>

        <div class="about" id="aboutBeeKind">
            <div class="text-center">

                <h2><span class="text-primary"><strong>About BeeKind</span></h2>

                <h3>Fostering Community Connection Through Acts of Kindness</h3> </strong><br />

                <p class="">
                    Many people within communities may be willing to offer help or seek assistance from their neighbours, but they lack an organised <br />
                    and accessible platform to connect with others for acts of kindness. Existing methods of connecting, such as word-of-mouth <br />
                    or social media, may not effectively facilitate meaningful and local interactions centered around kindness.<br /><br />

                    BeKind provides a dedicated and user-friendly platform where community members can easily offer and request acts of kindness. <br />
                    The app's simple and intuitive design streamlines the process of connecting individuals who want to help with <br />
                    those in need of assistance. By creating a single space for kindness-related interactions, <br />
                    the platform encourages a culture of compassion, support, and active community engagement.<br />
                </p>


            </div>
</div>
